@model IEnumerable<LibraryApp.Models.Author>
@{
    ViewData["Title"] = "Автори";
    var pager = (LibraryApp.Models.ViewModels.PagedResult<object>)ViewBag.Pager;
    var f = ViewBag.Filters;
}

<h1 class="mb-3">Автори</h1>

<form method="get" class="row g-2 mb-3 align-items-center">
    <div class="col-md-6">
        <input name="q" value="@f.q" class="form-control" placeholder="Търси по име" />
    </div>

    <div class="col-md-auto">
        <button class="btn btn-primary">Филтрирай</button>
        <a class="btn btn-outline-secondary ms-2" href="@Url.Action("Index")">Изчисти</a>
    </div>
</form>


<div class="d-flex justify-content-end mb-2">
    <a class="btn btn-success" href="@Url.Action("Create")">+ Нов автор</a>
</div>

<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>@Html.SortLink("name", "Име", (object)ViewBag.Filters)</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Name</td>
                <td class="text-nowrap">
                    @await Html.PartialAsync("_CrudActions",
                    new LibraryApp.Models.ViewModels.CrudActionsModel { Controller = "Authors", Id = a.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Pager", pager)
